<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.medievaldash.adplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>AdPlugin</name>
    <description>VK Ad SDK Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,ad,vk</keywords>

    <js-module src="www/adPlugin.js" name="adPlugin">
        <clobbers target="cordova.plugins.adPlugin" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="AdPlugin">
                <param name="android-package" value="com.medievaldash.adplugin.AdPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.my.target.common.MyTargetActivity" 
                      android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        </config-file>

        <!-- Рекомендуемое изменение target-dir, если стандартная структура -->
        <source-file src="src/android/AdPlugin.java" target-dir="src/com/medievaldash/adplugin" /> 
        <source-file src="src/android/build-extras.gradle" target-dir="app" />

        <!-- !!! ВАЖНО: Добавьте зависимость my.target SDK !!! -->
        <!-- <framework src="com.my.target:mytarget-sdk:5.18.0" /> --> <!-- Закомментировано, т.к. есть в build-extras.gradle -->
        <!-- Если используете .aar файл, раскомментируйте и настройте это: -->
        <!-- <lib-file src="libs/mytarget-sdk-X.Y.Z.aar" /> -->


        <framework src="com.google.android.gms:play-services-ads-identifier:18.0.1" />
        <framework src="androidx.annotation:annotation:1.7.1" />
        <framework src="androidx.annotation:annotation-experimental:1.3.1" />
        <framework src="androidx.media3:media3-exoplayer:1.2.1" />
        <framework src="androidx.media3:media3-exoplayer-hls:1.2.1" />
        <framework src="androidx.appcompat:appcompat:1.6.1" />
    </platform>
</plugin>